<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>317796345447-rba76hi01d27glapnkonlqc3bdu12edf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.317796345447-rba76hi01d27glapnkonlqc3bdu12edf</string>
	<key>API_KEY</key>
	<string>AIzaSyA_gOOffTaX3z5DmsCVjfdQgV7xT5moaF4</string>
	<key>GCM_SENDER_ID</key>
	<string>317796345447</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatpalmApp</string>
	<key>PROJECT_ID</key>
	<string>chatpalm-612da</string>
	<key>STORAGE_BUCKET</key>
	<string>chatpalm-612da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317796345447:ios:b136a6176b197a6c3056c2</string>
</dict>
</plist>